.top-banner {
    width: 100%;
    height: 100vh;
    background-image: url(images/donation12.png);
    background-size: cover;
    background-position: center;

}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

h1 {
    font-size: 700%;
}

h2 {
    text-align: center;
    font-size: 600%;

}

h4 {
    text-align: center;
    font-size: 300%;
    text-decoration: underline grey;
    color: grey;
}

p {
    font-size: 285%;
    text-align: center;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(#ece90dea, #d3803bf8);
    padding: 10px 40px;

    font-weight: 700;
    border-radius: 50px;

}

.button {
    text-align: center;
}

.amount {
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    padding-top: 10px;
    border-radius: 40px;
    box-shadow: 10px 10px 30px grey;
    justify-content: space-between;
    text-align: center;
}

#top-number {

    display: flex;
}

.plan {
    display: flex;
    text-align: left;
    width: auto;
}

.plan .food {
    background: rgba(116, 235, 69, 0.671);
    margin: 5px;
    margin-bottom: 50px;
    padding: 10px;
    color: #8e8b8b;
}

.food h3 {
    text-align: left;
    font-size: 50px;
}

.food p {
    text-align: left;
    font-size: 40px;
}

.footer {
    margin: 20px;
    padding: 15px;
    padding-top: 15px;
    background-color: black;
    color: rgb(127, 130, 133);
    text-align: center;
    width: 100%;
}

.footer p {
    color: aliceblue;
    text-align: center;
    padding-left: 100px;
    padding-right: 40px;
}

.tomato-color {
    color: tomato;
}

.white-color {
    color: whitesmoke;
}

.footer-content p {
    font-size: 25px;
}

.footer-content h3 {
    font-size: 50px;
}